blockquote {
    padding: 0 1em;
    color: #6a737d;
    border-left: 0.25em solid #dfe2e5;
    margin: 0;
    margin-top: 0;
    margin-bottom: 16px
    padding: 0 0 0 40px;
    border: 0 none
}

blockquote>:first-child {
    margin-top: 0
}

blockquote>:last-child {
    margin-bottom: 0
}

/* https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet */

.icon
{
    display: inline;
    /* this is hack to remove 'underline' for links inside the paragraph */
    box-shadow: none;
}