{{ partial "prologue.html" . }}

{{ $content := trim .Content " " }}
{{ if (eq $content "") }}
Content for '{{ .Type }}'
{{ else}}
{{ .Content }}
{{ end }}

<hr>
    {{ $hasSubtopic := isset (index .Data.Pages 0).Params "subtopic" }}

    <div class="home">
        {{ if $hasSubtopic }}
        <ul class="post-list">
            <li>
            {{ range .Data.Pages.GroupByParam "subtopic" }}
                <h3>{{ .Key }}</h3>
                <ul class="post-list">
                {{ range .Pages.ByTitle }}
                    <li>
                    <!-- {{ delimit .Params.topics ", " }} -->
                        <a class="post-link" href="{{ .Permalink }}">{{ .Title }}</a>
                    </li>
                {{ end }}
                </ul>
            {{ end }}
            </li>
        </ul>
        {{ else }}
        <ul class="post-list">
            {{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
                {{ if (ne $taxonomyname "assets") }}
                <li>
                    <h3><a href="{{ "/" | relLangURL}}{{ $taxonomyname | urlize }}">{{ $taxonomyname }}</a></h3>
                    <ul class="post-list">
                    {{ range $key, $value := $taxonomy }}
                    <li>
                        <h4> {{ $key }} </h4>
                        <ul class="post-list">
                            {{ range $value.Pages }}
                            <li><a href="{{ .Permalink}}"> {{ .LinkTitle }} </a> </li>
                            {{ end }}
                        </ul>
                    </li>
                    {{ end }}
                    </ul>
                </li>
                {{ end }}
            {{ end }}
        </ul>
        {{ end }}
    </div>



{{ partial "epilogue.html" . }}
