+++
date = "2017-04-07T14:36:07-05:00"
title = "Threejs Elementary Components"
assets = [ "threejs" ]

+++

<!DOCTYPE html>
<html>
    <head>
        <meta charset=utf-8>
        <title>Threejs - Lights</title>
        <style>
            body { margin: 0; overflow: hidden; }
            canvas { width: 100%; height: 100% }
        </style>
    </head>
    <body>
        <!-- Threejs renderer will render here whatever camera sees in the scene -->
    </body>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.6.2/dat.gui.js"></script>
    <script src="{{< absURL "js/threejs/three.min.js" >}}"></script>
    <script src="{{< absURL "js/threejs/controls/OrbitControls.js" >}}"></script>
    <script>
        // SCENE
        //
        scene = new THREE.Scene()

        // CAMERA
        //
        camera = new THREE.PerspectiveCamera( 55, window.innerWidth / window.innerHeight, 1, 100 )
        camera.position.z = 10
        scene.add( camera )

        // MESH
        //
        geometry = new THREE.CylinderGeometry( 1, 1, 5, 16 )
        material = new THREE.MeshPhongMaterial( { color: 0xff3300, specular: 0x555555, shininess: 30 } )
        mesh = new THREE.Mesh( geometry, material )
        scene.add( mesh )

        // LIGHT: AMBIENT
        //
        // rgbColor, intensity
        var light = new THREE.AmbientLight( 0x00ff00 ) // intensity is max if we leave it out
        scene.add( light )

        // LIGHT: DIRECTIONAL
        //
        // bright white
        var dirLight = new THREE.DirectionalLight(0xffffff, 1)
        // 45 degrees to the camera (x, y = 100, 100), and a little bit above horizontal plane (z = 50)
        dirLight.position.set(100, 100, 50)
        scene.add(dirLight)

        // RENDERER
        //
        renderer = new THREE.WebGLRenderer()
        renderer.setSize( window.innerWidth, window.innerHeight )
        document.body.appendChild( renderer.domElement )


        // PRIVATE FUNCTIONS
        //
        var overviewCamera = null
        var rotationSpeed = 0.02
        function render()
        {
            mesh.rotation.z += rotationSpeed

            renderer.render( scene, overviewCamera )
            // renderer.render( scene, camera )
        }
        
        function animate()
        {
            requestAnimationFrame( animate )
            render()
        }

        // DAT.GUI
        //
        // to play around with lights and rotation speed
        var guiData = {
            ambientColor: "#"+light.color.getHexString() ,
            directionalColor: "#"+dirLight.color.getHexString(),
            speed: 0.02,
            gridX: true,
            gridY: true,
            gridZ: true,
            origin: true,
            camera: true,
            light: true,
            resetView: function()
            {
                controls.reset()
            },
        }
        var gui = new dat.GUI()

        gui.add(guiData, 'speed', 0.001, 0.2).onFinishChange( function(value) {
            rotationSpeed = value
        } )

        gui.addColor(guiData, 'ambientColor').onFinishChange( function(value) {
            var color = value.replace('#', '0x')
            light.color.setHex(color)
        } )

        gui.addColor(guiData, 'directionalColor').onFinishChange( function(value) {
            var color = value.replace('#', '0x')
            dirLight.color.setHex(color)
        } )

        // ------ START: tutorial helper elements ------
        // OVERVIEW CAMERA
        //
        overviewCamera = new THREE.PerspectiveCamera( 75, window.innerWidth / window.innerHeight, 1, 1000 )
        overviewCamera.position.x = -15
        overviewCamera.position.y = -4
        overviewCamera.position.z = 2
        scene.add( overviewCamera )

        // SCENE X-Y-Z PLANES
        //
        var gridSize = 10
        var gridDivisions = 5
        // perpendicular to X-axis
        var gridHelperX = new THREE.GridHelper( gridSize, gridDivisions, 0x444444, 0xFF9900 )
        gridHelperX.geometry.rotateZ( -Math.PI/2 )
        scene.add( gridHelperX )
        // perpendicular to Y-axis
        var gridHelperY = new THREE.GridHelper( gridSize, gridDivisions, 0x444444, 0x99FF00 )
        scene.add( gridHelperY )
        // perpendicular to Z-axis
        var gridHelperZ = new THREE.GridHelper( gridSize, gridDivisions, 0x444444, 0x0099FF )
        gridHelperZ.geometry.rotateX( -Math.PI/2 )
        scene.add( gridHelperZ )
        
        // CAMERA VISUALIZATION
        //
        var cameraHelper = new THREE.CameraHelper( camera )
        scene.add( cameraHelper )

        // DIRECTIONAL LIGHT VISUALISATION
        //
        var dirLightHelper = new THREE.DirectionalLightHelper( dirLight, 5 )
        scene.add( dirLightHelper )
        
        // SCENE ORIGIN AND AXES
        //
        var axisHelper = new THREE.AxisHelper( 5 )
        scene.add( axisHelper )
        
        // ORBIT CONTROLS
        //
        var controls = new THREE.OrbitControls( overviewCamera, renderer.domElement )
        controls.enableZoom = true

        gui.add(guiData, 'gridX').onFinishChange( function(value) {
            gridHelperX.visible = value
        } )
        gui.add(guiData, 'gridY').onFinishChange( function(value) {
            gridHelperY.visible = value
        } )
        gui.add(guiData, 'gridZ').onFinishChange( function(value) {
            gridHelperZ.visible = value
        } )
        gui.add(guiData, 'origin').onFinishChange( function(value) {
            axisHelper.visible = value
        } )
        gui.add(guiData, 'camera').onFinishChange( function(value) {
            cameraHelper.visible = value
        } )
        gui.add(guiData, 'light').onFinishChange( function(value) {
            dirLightHelper.visible = value
        } )
        gui.add(guiData, 'resetView')
        //
        // ------ END: tutorial helper elements ------


        // START THINGS UP
        //
        animate()
    </script>

</html>
