+++
date = "2017-03-31T15:26:59-05:00"
title = "Basic Example"
assets = [ "threejs" ]

+++

<!DOCTYPE html>
<html>
    <head>
        <meta charset=utf-8>
        <title>Threejs - Basic Example</title>
        <style>
            body { margin: 0; overflow: hidden; }
            canvas { width: 100%; height: 100% }
        </style>
    </head>
    <body>
        <!-- Threejs renderer will render here whatever camera sees in the scene -->
    </body>

    <script src="{{< absURL "js/threejs/three.min.js" >}}"></script>
    <script>
        // SCENE
        //
        scene = new THREE.Scene();

        // CAMERA
        //
        camera = new THREE.PerspectiveCamera( 75, window.innerWidth / window.innerHeight, 1, 100 );
        camera.position.z = 5;
        scene.add( camera );

        // MESH
        //
        geometry = new THREE.CylinderGeometry( 1, 1, 5, 16 );
        material = new THREE.MeshBasicMaterial( { color: 0xff0000, wireframe: true } );
        mesh = new THREE.Mesh( geometry, material );
        scene.add( mesh );

        // RENDERER
        //
        renderer = new THREE.WebGLRenderer();
        renderer.setSize( window.innerWidth, window.innerHeight );
        document.body.appendChild( renderer.domElement );

        // DO THE WORK
        //
        renderer.render( scene, camera );
    </script>

</html>
