+++
date = "2017-03-31T15:34:05-05:00"
title = "Rotation"
assets = [ "threejs" ]

+++

<!DOCTYPE html>
<html>
    <head>
        <meta charset=utf-8>
        <title>Threejs - Rotation</title>
        <style>
            body { margin: 0; overflow: hidden; }
            canvas { width: 100%; height: 100% }
        </style>
    </head>
    <body>
        <!-- Threejs renderer will render here whatever camera sees in the scene -->
    </body>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.6.2/dat.gui.js"></script>
    <script src="{{< absURL "js/threejs/three.min.js" >}}"></script>
    <script>
        // SCENE
        //
        scene = new THREE.Scene();

        // CAMERA
        //
        camera = new THREE.PerspectiveCamera( 75, window.innerWidth / window.innerHeight, 1, 100 );
        camera.position.z = 5;
        scene.add( camera );

        // MESH
        //
        geometry = new THREE.CylinderGeometry( 1, 1, 5, 16 );
        material = new THREE.MeshPhongMaterial( { color: 0xff3300, specular: 0x555555, shininess: 30 } )
        mesh = new THREE.Mesh( geometry, material );
        scene.add( mesh );

        // LIGHT: AMBIENT
        //
        // rgbColor, intensity
        var light = new THREE.AmbientLight( 0x00ff00 ); // intensity is max if we leave it out
        scene.add( light );

        // LIGHT: DIRECTIONAL
        //
        // bright white
        var dirLight = new THREE.DirectionalLight(0xffffff, 1);
        // 45 degrees to the camera (x, y = 100, 100), and a little bit above horizontal plane (z = 50)
        dirLight.position.set(100, 100, 50);
        scene.add(dirLight);

        // RENDERER
        //
        renderer = new THREE.WebGLRenderer()
        renderer.setSize( window.innerWidth, window.innerHeight )
        document.body.appendChild( renderer.domElement )

        // function animate()
        // {
        //     mesh.rotation.z += 0.1
        //     renderer.render( scene, camera )
        //     requestAnimationFrame( animate )
        // }

        // requestAnimationFrame( animate )

        // PRIVATE FUNCTIONS
        //
        var rotationSpeed = 0.02
        function render()
        {
            mesh.rotation.z += rotationSpeed

            renderer.render( scene, camera )
        }
        
        function animate()
        {
            requestAnimationFrame( animate )
            render()
        }

        // START THINGS UP
        //
        animate()



        // DAT.GUI
        //
        // to play around with lights and rotation speed
        var guiData = {
            ambientColor: "#"+light.color.getHexString() ,
            directionalColor: "#"+dirLight.color.getHexString(),
            speed: 0.02,
        }
        var gui = new dat.GUI()

        gui.add(guiData, 'speed', 0.001, 0.2).onFinishChange( function(value) {
            rotationSpeed = value
        } )

        gui.addColor(guiData, 'ambientColor').onFinishChange( function(value) {
            var color = value.replace('#', '0x')
            light.color.setHex(color)
        } )

        gui.addColor(guiData, 'directionalColor').onFinishChange( function(value) {
            var color = value.replace('#', '0x')
            dirLight.color.setHex(color)
        } )

    </script>

</html>
