{{ partial "prologue.html" . }}

    {{ $baseUrl := .Site.BaseURL }}
    <span class="post-meta">Categories</span>
    {{ range .Data.Pages.GroupBy "Section" }}
    {{ if and (ne .Key "post") (ne .Key "page") (ne .Key "assets") }}
    &#x25BA; <a class="site-title" href="{{ $baseUrl }}{{ .Key }}">{{ title .Key }}</a>
    {{ end }}
    {{ end }}
    <hr>

    <div class="home">
        <span class="post-meta">Latest posts</span>
        <br>
        <ul class="post-list">
        {{ range first 10 .Data.Pages }}
        {{ if eq .Type "post"}}
            <li>
                <h1>
                    <a class="post-link" href="{{ .Permalink }}">{{ .Title }}</a>
                </h1>
                <span class="post-meta">{{ .Date.Format "January 02, 2006" }}</span>
            </li>
        {{ end }}
        {{ end }}
        </ul>
    </div>

{{ partial "epilogue.html" . }}
