
http://gohugo.io/templates/variables/
---<br>
https://gohugo.io/taxonomies/displaying/
---<br>

    </div>

<section>
  <ul>
  <!-- {{ .Site.Taxonomies.subtopics }} -->
    {{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
      <li><a href="{{ "/" | relLangURL}}{{ $taxonomyname | urlize }}">{{ $taxonomyname }}</a>
      <!-- {{ $taxonomy.Get "threejs" }} -->
      <!-- {{ $taxonomy.Alphabetical }} -->
        <ul>
          {{ range $key, $value := $taxonomy }}
          <li> {{ $key }} </li>
                <ul>
                {{ range $value.Pages }}
                    <li hugo-nav="{{ .RelPermalink}}"><a href="{{ .Permalink}}"> {{ .LinkTitle }} </a> </li>
                {{ end }}
                </ul>
          {{ end }}
        </ul>
      </li>
    {{ end }}
  </ul>
</section>
