{{ partial "prologue.html" . }}

    <div class="home">

    <ul class="post-list">
        {{ range $key, $taxonomy := .Site.Taxonomies.assets }}
        <li class="post-title"><h3>{{ title $key }}</h3></li>
            <ul>
            {{ range $taxonomy.Pages.ByTitle }}
                <li>
                    <a class="post-link" href="{{ .Permalink }}">{{ .Title }}</a>
                </li>
            {{ end }}
            </ul>
        {{ end }}
    </ul>

    </div>

{{ partial "epilogue.html" . }}
